.eyel {
    z-index: 1;
    background-color: blue;
    height: 5vmin;
    width: 5vmin;
    transform: translate(15vmin, 15vmin) rotate(25deg);
}
.eyer {
    z-index: 1;
    background-color: red;
    height: 5vmin;
    width: 5vmin;
    transform: translate(-15vmin, -15vmin) rotate(25deg);
}
.s {
    background-color: red;
}
section{
height:100;
} 

heading{
height: calc(100% - 15px);

}     
.smiley {
    z-index: 1;
    background-color: aqua;
    height: 5vmin;
    width: 5vmin;
    transform: rotate(25deg);
}
.circle {
    z-index: 2;
    width: 70vmin;
    height: 70vmin;
    background: #e8e0ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.canva {
    z-index: 3;
    background-color: #8162ff;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

.css-flex {
      display: flex;
  }

.css-flex > div{
    background-color: aqua;
    margin:10px;
    padding: 5px;
    font-size:25px;
    text-align: center;
    width: fit-content;
}


.form {
    border: 3px; 
    border-style: solid;
    border-color: black;
    padding: 15px;
    display:inline-block;
    text-align: center;
}


@media(max-width: 480){
    .mobile{

    }
}

@media (max-width: 1024){
    .i-pad{

    }
}